div.network-setup-section
    div.setup-fields
        div.title-field
            span.field-description Title
            input(type="text", ng-model="networkAccount.title")
    button.setup.delete-button(ng-click="deleteNetworkAccount()")
        span.title Delete Network